.banner {
  padding-bottom: 100px;
  &__title {
    // font-size: 48px;
    // line-height: 1.2;
    color: #fff;
    margin: 0 0 15px;
    text-align: center;
    font-size: clamp(28px, 4vw, 48px);
  }
}
.bannerBg {
  position: relative;
  height: 100vh;
  background: url('/img/homeBanner.png') no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 200px;
    // background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 100%);
  }
}

.bannerContent {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

.bannerIcon {
  position: absolute;
  top:  200px;
  left: 50%;
  transform: translateX(-50%);
  // width: 400px;
  // height: 400px;
  width: clamp(200px, 50vw, 400px);
  height: clamp(200px, 50vw, 400px);
  background: url('/img/bannerIcon.svg') no-repeat;
  background-size: cover;
}