.homeBlock {
  padding: 60px 0;
  &__inner {
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
  }
  &__section {
    padding: 40px 0;
  }
  &__header {
    margin-top: -45px;
  }
  &__title {
    display: inline-block;
    border-radius: 8px;
    padding: 10px 24px;
    background: #e50000;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
  }
}

.home {
  &__tabs {
    margin-bottom: 20px;
  }
  &__tabsInner {
    display: flex;
    padding: 8px;
    background: #0f0f0f;
    border: 1px solid #262626;
    border-radius: 8px;
  }
  &__tab {
    flex: 1;
    border-radius: 6px;
    padding: 12px 20px;
    background: transparent;
    transition: 0.5s;
    text-align: center;
    &.active {
      background: #1f1f1f;
      transition: 0.5s;
    }
  }
}


@media(max-width: 991px) {
  .homeBlock {
    padding: 30px 0;
    &__inner {
      padding: 10px;
    }
    &__section {
      padding: 20px 0;
    }
  }
}
@media(max-width: 767px) {
  .homeBlock {
    display: none;
    &__inner {
      padding: 0;
      border: 0;
    }
    &__header {
      display: none;
    }
    &.active {
      display: block;
    }
  }
}