
.sliderBlock {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }
  &__dot {
    display: inline-block;
    border-radius: 100px;
    width: 18px;
    height: 4px;
    background: #333;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
  &__dotActive {
    background: #e50000;
    transition: 0.5s;
  }
  &__navigation {
    display: flex;
    align-items: center;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    padding: 12px;
  }
}

.customPrevArrow,
.customNextArrow {
  // display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  background: #1a1a1a;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    border: 1px solid #fff;
    transition: 0.5s;
  }
}
.customPrevArrow {
  margin-right: 10px;
}
.customNextArrow {
  margin-left: 10px;
}

@media (max-width: 991px) {
  .customDots {
    display: none;
  }
  .sliderItem  {
    &__inner {
      padding: 15px;
      
    }
  }
  .sliderBlock {
    &__header {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 25px;
    }
  }
}


@media(max-width: 767px) {
  .customPrevArrow,
  .customNextArrow {
    display: none;
  }
  .sliderContainer {
    margin-right: -16px;
  }
}